services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: valentactics
      POSTGRES_PASSWORD: valentactics
      POSTGRES_DB: valentactics
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
